@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap');
/* Creating the memory game "Simon" style */ 
/*Styling*/

/* styling body */ 

body {
    margin: 10px auto;
    position: relative;
    background-color: #000000;
   max-width: 1200px;
   font-family: "Orbitron", sans-serif;
   height: 100vh;
}

.my-col {
   
    justify-content: center;
    padding: 0;
    
    }

    .col-3 {
      margin: 20px;
      text-align: -webkit-center;
    }

.col-my-left {
    color: blanchedalmond;
}

.col-quadrants-left {
    text-align: -webkit-right;
}

.col {
    width: 50%;
}

.header-style {
    color: #06C502;
    display: flex;
    margin: 100px 0 20px 0;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    font-size: 72px;
    font-family: "Orbitron", sans-serif;
    font-weight: 400;
    text-align: center;
}
/*Making a quadrant of 4 pieces (sectors) in different colours*/ 

.sector {
  width: 240px;
  height: 240px;  
  margin: 10px;
  cursor: pointer;
  border-radius: 50px;  
 } 
  
.top-left-sector {    
    /*background-color: red;*/ 
    border: 10px solid red;    
}

.top-right-sector {    
   /* background-color: blue;*/
    border: 10px solid blue;
   }

.bottom-left-sector {   
    /*background-color: green;*/
    border: 10px solid green;        
}

.bottom-right-sector {   
    /* background-color: gold;*/
    border: 10px solid gold;    
}
 /* Colours when hoovering over the element */
.top-left-sector:hover {
    background-color: rgba(255, 4, 4, 0.527);
}

.top-right-sector:hover {    
    /* background-color: blue;*/
     background-color:  rgba(0, 0, 255, 0.596);
    }
 
 .bottom-left-sector:hover {   
     /*background-color: green;*/
     background-color:  rgba(0, 128, 0, 0.582);        
 }
 
 .bottom-right-sector:hover {   
     /* background-color: gold;*/
     background-color:  rgba(255, 217, 0, 0.678);    
 }

 /* "Active" or blinking sequnece color */

 .active {
    background-color: rgba(255, 255, 255, 0.705);        
}


    /* Game template styling */

    .mobile-template {
        width: 100%;
    }
    
    .my-col-bottom-left {
        justify-content: space-around;
        padding: 0;
        text-align: end;
        list-style: none;
    }

    .my-col-bottom-right {
        padding: 0;
        text-align: start;
        list-style: none;
    }

    .btn {
        width: 240px;
        height: 69px;
        margin: 20px 0 0 20px;
        color: #FFFFFF;
        font-family: "Orbitron", sans-serif;
        font-size: 21px;
        padding: 0;
    }   

    .btn-left {
        background-color: #3f0dd3b0;
       
    }

    .btn-right {
        background-color: #cae70bb0;        
    }

    h4 {
        color: #06C502;
        gap: 15px;
        padding: 10px;        
    }

    h5 {
        color: #06C502;
        gap: 15px;
        padding: 10px; 
    }

    .row-2 {
        width: 50%;    
    }

    .row {
          display: flex;
          justify-content:space-evenly;
        }
       
    .row-3 {
        margin:50px auto;
        }
        
    .col ul {
            padding: 0;
                    }

    .col li {
            list-style: none;
            color: #06C502;
                    }

                    /* Modal styling */

       .modal-container {
           background-color: rgba(0, 0, 0, 0.6);
           position: fixed;
           top: 0;
           bottom: 0;    
           right: 0;
           left: 0;       
       }
       
       .modal {
           color: #06C502;
           background-color: black;           
           border-radius: 5px;
           box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
           position: absolute;
           overflow: auto;
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%);
           max-width: 100%;
           width: 500px;
           height: 600px;
           display: block;
       }
                    
       .modal-content {
           padding: 1.2rem;
           display: flex;
           flex-direction: column;
           background-color: black;   
           text-align: center;
       }
       
       .modal-list li, ol{
           list-style:circle;
       }
       
       .form-control {
           background-color: black;
           color: #06C502;           
       }
       
       .form-group .form-control::placeholder {
           color: #06C502;
       }
       
       
       #modal-button {
           width: 130px;
           height: 60px;
           }

       #no-style-button {
               list-style: none;
           }

       .close-btn {
           background-color: transparent;
           font-size: 30px;           
           color: #06C502; 
           outline: none;
           border: none;
           margin-right: 15px;
           margin-top: 15px;
       }    
                    

     /* Media styles*/               

    @media (max-width: 1199.98px) { 
                    #column-order-1 {
                        order: -1;
                        flex-direction: row;
                    }
                    #column-order-2 {
                        order: 1;
                    }
                    .row-2 {
                        width: 100%;
                        
                    }
                    .col-quadrants-left{
                        margin: 0 auto;
                        padding: 0;
                    
                    }
                    .mobile-template {
                        
                        display: inline-flex;
                        text-align: center;
                        justify-content: space-evenly;
                }
                .col-3 {
                    -ms-flex: 0 0 100%;
                    flex: 0 0 100%;
                    max-width: 100%; 
                    text-align: center; 
                }
              
                }

    @media (max-width: 575.98px) { 
        .sector {
            width: 160px;
            height: 160px;  
        }   
        .btn {
            width: 160px;
            height: 69px;
            margin: 10px 0 0 10px;
            color: #FFFFFF;
            font-family: "Orbitron", sans-serif;
            font-size: 16px;
            padding: 0;
        }   
        .h4, h4 {
            font-size: 1.3rem;
        }    
        .header-style {
            margin: 0 0 20px 0;
        } 
           }
          

    @media (max-width: 400px) { 
        .sector {
            width: 120px;
            height: 120px;                        
           }          
    }

    @media (max-width: 300px) { 
        .sector {
            width: 100px;
            height: 100px;  
                      
           }
    }

    @media (min-width: 1199.99px) { 
        .col {
            width: 50%;
        }
        .row {
            flex-wrap: nowrap;
        }
        }